/**
 * Triumviratum, for Drupal 4.7
 * By Gross Design Studio www.grossdesign.it
 **/
body,td,th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #000000;
	margin: 20px;
}
input{ 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1{ font-size:18px; }
h2{ font-size:16px; }
h3, h4, h5, h6 {
  font-size: 14px;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #948165;
}

a{ color:#0f51a2; text-decoration:underline; }
a:hover{ color:#095798; text-decoration:none; }

a:link {
  color: #39c;
}
a:visited {
  color: #369;
}

p{ padding:5px; }


tr.odd td, tr.even td {
  padding: 0.3em;
}


fieldset {
  border: 1px solid #ffffff;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  font-size: 1em;
}
th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #948165;
}
tr.even, tr.odd {
  background-color:#c2ae91;
  border-bottom: 1px solid #948165;
}

/* backgound */
#t{ background:url('images/t.jpg') top left no-repeat; }
#r{ background:url('images/r.jpg') top right no-repeat;  }
#b{ background:url('images/b.jpg') bottom right no-repeat; }
#l{ background:url('images/l.jpg') bottom left no-repeat; }
#tb{ background:url('images/tb.jpg') top left repeat-x; }
#rb{ background:url('images/rb.jpg') top right repeat-y;  }
#bb{ background:url('images/bb.jpg') bottom right repeat-x; }
#lb{ background:url('images/lb.jpg') bottom left repeat-y; }
#globalBG{ background:url('images/globalBG.jpg') #d7c7b1; }

/*images*/
#sword{ position:absolute; left:0; top:0; z-index:1; }
#sword { position: absolute; left: 0px; top: 0px; }
#flag { position: absolute; right: 0px; bottom: 0px; }
body > div#sword { position: fixed; }
body > div#flag { position: fixed; }

#text{ padding:100px 30px 10px 80px; }

#footer{ padding:70px 250px 100px 100px;}

#logo {
	position:absolute;
	left:118px;
	top:68px;
	width:137px;
	height:12px;
	z-index:2;
}

#headerStuff {
	position:absolute;
	left:300px;
	top:52px;
	z-index:3;
}
#links{
float:left;
}
#searchBar{
float:left;
padding:10px 0 0 15px;
}


.columns { clear: both; width: 100%; }
.columns .a,
.columns .b
{ float: left; }
.columns .a { width: 30%; }
.columns .b { width: 70%; }
.columns .b p{ text-align:justify; }
	
#tooltip {
	background:#FFFFFF;
	border: 1px solid #333333;
	color:#333333;
	text-align: justify;
	font:12px Arial, Verdana, Helvetica, sans-serif;
	margin:3px;
	padding: 3px;
	position:absolute;
	visibility:hidden
}


.form-item label {
  font-size: 1em;
  color: #222;
}

div.item-list {
  text-align:left;
}
.item-list .title {
  font-size: 1em;
  color:#000000;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/

#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;

}

#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
}
#search .form-text, #search .form-submit {
  vertical-align: middle;
}
#search .form-text {

}
#mission {
  padding: 1.5em 2em;
  margin:1.5em;
  color: #000000;
  border:1px solid #000000;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}

#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color:#FFFFFF;
  border: 1px solid #666666;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  vertical-align: top;
  padding:0 20px 0 0;
}


.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color:#333333;
  margin: 0 auto 0 auto; 
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {

}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #948165;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node{

}
.preview .node, .preview .comment {
	padding:1em;
}.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
/**
 * CSS support
 */
span.clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}